@use '../../scss/' as *;
.parrent-bar {
  width: 386px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 13px;
}

.parrent-bar .progress {
  background: #E00D72;
  border-radius: 5px;
  width: 280px;
  height: 30px;
  @use flex();
}
